<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List Rendering</title>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
    <div id="app">
        <div class="product">
            <div class="product-image">
                <img v-bind:src="image">
            </div>
            <div class="product-info">
                <h1>{{ product }}</h1>
                <p v-if="inStock">En stock</p>
                <p v-else> Agotado </p>

                <p v-if="inventory > 10"> En stock</p>
                <p v-else-if="inventory <=10 && inventory > 0">Casi agotado </p>
                <p v-else> Agotado</p>
                
                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>

                <ul>
                    <li v-for="size in sizes">{{ size }}</li>
                </ul>

                <div v-for="variant in variants" :key="variant.variantId">
                    <p>{{ variant.variantColor }}</p>
                </div>

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script>
        var app = new Vue({  //vue instance, propiedad el, esta relacionado al contenido
            el: '#app',
            data: {
                product: 'Medias', 
                image: './assets/vmSocks-green.jpg',
                inStock: true,
                inventory: 9,
                details: ["80% cotton", "20% polyester", "Gender-neutral"],
                variants: [
                    {
                        variantId: 2234,
                        variantColor: "green"
                    },
                    {
                        variantId: 2235,
                        variantColor: "blue"
                    }
                ],
                sizes: ['S', 'M', 'L', 'XL', 'XXL', 'XXXL']
            }
        })

        Vue.config.devtools = true
   </script>

</body>
</html>

<!--
List Rendering
-------------------

Directiva: v-for
La directiva v-for nos permite iterar sobre una array para mostrar datos.


Es similar en javascript: for of or fo in
<li v-for="detail in details">
details: refiere a la data array (collection)
detail: es el alias (nicknaeme)

se recomienda usar :key, para mantener trackiado cada uno.
reto: https://codepen.io/GreggPollack/pen/QYeNaq
resolv: https://codepen.io/GreggPollack/pen/ErqKoG
-->