<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Class Style Binding</title>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
    <div class="nav-bar"></div>

    <div id="app">
        <div class="product">
            <div class="product-image">
                <img v-bind:src="image">
            </div>
            <div class="product-info">
                <h1>{{ product }}</h1>
                <p v-if="inStock">En stock</p>
                <p v-else  :class="{ outOfStock: !inStock }"> Agotado </p>

                <p v-if="inventory > 10"> En stock</p>
                <p v-else-if="inventory <=10 && inventory > 0">Casi agotado </p>
                <p v-else> Agotado</p>
                
                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>

                <div v-for="variant in variants" 
                    :key="variant.variantId"
                    class="color-box"
                    :style="{ backgroundColor: variant.variantColor }"
                    @mouseover="updateProduct(variant.variantImage)">
                </div>

                <button v-on:click="addToCart"
                        :disabled="!inStock"
                        :class="{ disabledButton: !inStock}">Add to Cart</button>

                <button @click="removeFromCart"
                        :class="callsObject">Remove cart</button>
                
                <!-- <button @click="removeFromCart"
                        :class="{ active: activeClass, 'text-danger' : errorClass}">Remove cart</button> -->

                <div class="cart">
                    <p>Cart({{cart}})</p>
                </div>
                <p :style="{ color: color }">estilo color</p:>
                <p :style="{ 'fontSize': fontSize }">estilo color</p>
                <p :style=" styleObject ">estilo doble</p>


            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script>
        var app = new Vue({ 
            el: '#app',
            data: {
                product: 'Medias', 
                image: './assets/vmSocks-green.jpg',
                inStock: false,
                inventory: 8,
                details: ["80% cotton", "20% polyester", "Gender-neutral"],
                variants: [
                    {
                        variantId: 2234,
                        variantColor: "green",
                        variantImage: './assets/vmSocks-green.jpg'
                    },
                    {
                        variantId: 2235,
                        variantColor: "blue",
                        variantImage: './assets/vmSocks-blue.jpg'
                    }
                ],
                cart: 0,
                color: 'red',
                fontSize: '25px',
                styleObject: {
                    color:'blue',
                    fontWeight: 'bold'
                },
                styleObject2: {
                    color:'red',
                    fontWeight: '100'
                },
                activeClass: false,
                errorClass: true,
                callsObject: {
                    errorClass: true,
                    activeClass: false,

                }
            },
            methods: {
                addToCart() {
                    this.cart += 1
                },
                updateProduct(variantImage) {
                    this.image = variantImage
                    console.log(variantImage,'variantImage') // ./assets/vmSocks-green.jpg
                },
                removeFromCart() {
                    this.cart -=1
                }
            }
        })

        Vue.config.devtools = true

   </script>

</body>
</html>

<!--
Style Binding
---------------
En esta lección aprenderemos cómo diseñar dinámicamente nuestro HTML al vincular datos al atributo de estilo de un elemento, así como a su clase.

Usaremos la propiedad: background-color

 <div v-for="variant in variants" 
    :key="variant.variantId"
    class="color-box"
    :style="{ backgroundColor: variant.variantColor }"
    @mouseover="updateProduct(variant.variantImage)">
</div>

<p :style="{ color: color }">estilo color</p:>
<p :style="{ 'fontSize': fontSize }">estilo color</p>
<p :style=" styleObject ">estilo doble</p>


<p v-else  :class="{ outOfStock: !inStock }"> Agotado </p>
si, el segundo valor es true, aplica clase

reto: https://codepen.io/GreggPollack/pen/XOvdZy    
Solution: https://codepen.io/GreggPollack/pen/YBmqaX
-->