<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Class Style Binding</title>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
    <div class="nav-bar"></div>

    <div id="app">
        <div class="product">
            <div class="product-image">
                <img v-bind:src="image">
            </div>
            <div class="product-info">
                <h1> {{ title }}</h1> <!--Propiedad Computada -->
                <!-- <h1> {{ reversedMessage }}</h1> -->
                <!-- <h1> {{ brand }} -  {{ product }}</h1> -->
                <p v-if="inStock">En stock</p>
                <p v-else  :class="{ outOfStock: !inStock }"> Agotado </p>
                <p> {{ sale }}</p>

                <p v-if="inventory > 10"> En stock</p>
                <p v-else-if="inventory <=10 && inventory > 0">Casi agotado </p>
                <!-- <p v-else> Agotado</p> -->
                <p v-else> Agotado</p>
                
                <ul>
                    <li v-for="detail in details">{{ detail }}</li>
                </ul>

                <div v-for="(variant, index) in variants" 
                    :key="variant.variantId"
                    class="color-box"
                    :style="{ backgroundColor: variant.variantColor }"
                    @mouseover="updateProduct(index)" >
                </div>

                <button v-on:click="addToCart"
                        :disabled="!inStock"
                        :class="{ disabledButton: !inStock}">Add to Cart</button>

                <button @click="removeFromCart"
                        :class="callsObject">Remove cart</button>
  
                <div class="cart">
                    <p>Cart({{cart}})</p>
                </div>

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <script>
        var app = new Vue({ 
            el: '#app',
            data: {
                brand: 'Vue Mastery',
                product: 'Medias', 
                //image: './assets/vmSocks-green.jpg',
                selectedVariant: 0,
                // inStock: false,
                inventory: 8,
                details: ["80% cotton", "20% polyester", "Gender-neutral"],
                variants: [
                    {
                        variantId: 2234,
                        variantColor: "green",
                        variantImage: './assets/vmSocks-green.jpg',
                        variantQuantity: 10
                    },
                    {
                        variantId: 2235,
                        variantColor: "blue",
                        variantImage: './assets/vmSocks-blue.jpg',
                        variantQuantity: 0
                    }
                ],
                cart: 0,
                color: 'red',
                fontSize: '25px',
                styleObject: {
                    color:'blue',
                    fontWeight: 'bold'
                },
                styleObject2: {
                    color:'red',
                    fontWeight: '100'
                },
                activeClass: false,
                errorClass: true,
                callsObject: {
                    errorClass: true,
                    activeClass: false,

                },
                onSale: false
            },
            methods: {
                addToCart() {
                    this.cart += 1
                },
                updateProduct(index) {
                    //this.image = variantImage
                    this.selectedVariant = index
                    // console.log(this.selectedVariant)
                    // console.log(this.variants[this.selectedVariant].variantImage, 'variantImage')
                    console.log(this.variants[this.selectedVariant].variantQuantit, 'variantQuantit' )
                },
                removeFromCart() {
                    this.cart -=1
                }
            },
            computed: {
                title() {
                    return this.brand + ' - ' + this.product
                },
                image() {
                    return this.variants[this.selectedVariant].variantImage
                },
                inStock() {
                    return this.variants[this.selectedVariant].variantQuantity
                },
                reversedMessage: function () {
                    return this.title.split('').reverse().join('')
                },
                sale() {
                    if(this.onSale) {
                        console.log('a')
                        return  ' Las ' + this.product + ' esta en venta'
                    } else {
                        console.log('b')
                        return  ' Las ' + this.product + ' no esta en venta'
                    }
                },
            }
        })

        Vue.config.devtools = true

   </script>

</body>
</html>

<!--
Computer Properties
---------------
app.brand

En esta lección, cubriremos las propiedades computadas. 
Estas son propiedades en la instancia de Vue que 'calculan o transformar' un valor en lugar de almacenar un valor.

Nuestro primer objetivo en esta lección es mostrar nuestra marca (Vue Mastery) y nuestro producto (Medias) como una sola cadena.


Las PC, no se declaran en data, se generan en una funcion computed:

computed: {
    title() {
        return this.brand + ' -- ' + this.product
    },
}

console: app.brand |app.product si cambio uno, se cambiara el titulo

Las propiedades calculadas se almacenan en caché, lo que significa que el resultado se guarda hasta que cambien sus dependencias.

Entonces, cuando la cantidad cambia, la memoria caché se borrará y la ** próxima vez que acceda al valor y devolverá un resultado nuevo y la memoria caché de ese resultado.

---
Tambien podemos agregar objetos en propiedades computadas.
 image() {
    return this.variants[this.selectedVariant].variantImage
},





reto: https://codepen.io/GreggPollack/pen/bzXpvR?editors=1011
solution: https://codepen.io/GreggPollack/pen/KJOzoQ?editors=1011
-->